﻿.k-notification {
    border: 0;
}


/* Error template */

div.k-animation-container {
    padding-bottom: 5px;
}

.k-notification-error.k-group {
    background: rgba(100%,0,0,.7);
    color: #ffffff;
}

.error-notification {
    width: 200px;
}

    .error-notification h3 {
        font-size: 1em;
        padding: 5px 5px;
    }

        .error-notification h3 i {
            color: red;
            margin-right: 6px;
            font-size: 1.3em;
        }

    .error-notification p {
        font-size: 0.8em;
        padding: 0 5px 0 5px;
    }

/* Success template */

.k-notification-success-notification {
    background: rgba(0,60%,0,.7);
    color: #fff;
}

.success-notification {
    width: 240px;
    height: 100px;
    padding: 0 30px;
    line-height: 100px;
}

    .success-notification h3 {
        font-size: 1em;
        font-weight: normal;
        display: inline-block;
        vertical-align: middle;
    }

        .success-notification h3 i {
            color: green;
            margin-right: 6px;
            font-size: 1.3em;
        }
