﻿@model ErrorViewModel
@{
    ViewData["Title"] = "404 - Page not found";
}

<div class="alert alert-danger" role="alert">
    <h1>404 - Page not found.</h1>
    <p>Oops, better check that URL or insufficient permission.</p>
</div>