﻿@model LoginModel

@if (Model.IsSignned)
{
    <form class="form-inline mt-2 mt-md-0" asp-area="" asp-controller="Account" asp-action="SignOut" method="get" id="logoutForm">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" title="Manage">Hello @Model.UserName!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-outline-warning">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav mt-2 mt-md-0">
        <li class="nav-item">
            <a class="nav-link">Hello @Model.UserName!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="SignIn">Log in</a>
        </li>
    </ul>
}
