﻿@{
    ViewBag.PageTitle = Model.Title;
}
<p>Technical respects:</p>
<ul>
    <li>.Net Core 2.0</li>
    <li>.Net MVC Core</li>
    <li>Authentication to Azure AD</li>
    <li>Entity Framework Core 2.0</li>
    <li>jQuery JavaScript Library v3.3.1</li>
    <li>Bootstrap v4.1.1</li>
    <li>Kendo UI v2018.1.221</li>
</ul>
