﻿@{
    ViewBag.PageTitle = Model.Title;
}
<address>
   Cuong Duong Duy
</address>

<address>
    <strong>Email:</strong> <a href="mailto:cuong.duongduy@gmail.com">Cuong.DuongDuy@gmail.com</a><br />
    <strong>Skype:</strong> <a href="skype:cuong.duongduy?chat">Cuong.DuongDuy</a>
</address>
