﻿@using PersonalNotesAPI.ViewModels
@model PersonalNotesAPI.ViewModels.PageViewModel
@{
    ViewBag.PageTitle = Model.Title;
}
<div class="jumbotron">
    <div class="container">
        <h1>Hello, Personal Notes App!</h1>
        <p>Using it in order to manage your daily personal notes with reminder</p>        
    </div>
</div>
