﻿@using PersonalNotesAPI.Constants
@model PageModel<PersonalNotesDAO.Models.Notes.Edit>

@{
    ViewBag.PageTitle = Model.Title;
}

<h2>@Model.Header</h2>
<h4>@Model.SubHeader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.Content.Id" id="note-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Content.Id" />
            <input type="hidden" asp-for="Content.Timestamp" />
            <div class="form-group">
                <label>Title</label>
                <input asp-for="Content.Title" class="form-control" />
                <span asp-validation-for="Content.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content.Description"></label>
                <div class="input-group mb-3">
                    <textarea asp-for="Content.Description" class="form-control"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" data-speechtotext-enable="true" data-speechtotext-for="Content_Description"><i class="fas fa-microphone"></i></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="custom-control custom-checkbox">
                        <input asp-for="Content.IsDone" class="custom-control-input" />
                        <label class="custom-control-label" for="Content_IsDone">@Html.DisplayNameFor(x => x.Content.IsDone)</label>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Content.Reminder"></label>
                <input asp-for="Content.Reminder" type="datetime" class="form-control" asp-format="@DisplayConstant.IsoDateTime" />
                <span asp-validation-for="Content.Reminder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script type="text/javascript">
        personalNotes.notes.edit.initializeElements();
    </script>
}
