﻿@model PageModel

@{
    ViewBag.PageTitle = Model.Title;
}


<h2>@Model.Header</h2>
<h4>@Model.SubHeader</h4>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div id="note-grid" data-source="@Url.Action("GetNoteList", "NoteEntities")">
</div>

@section Scripts{
    <script>
        $(function () {
            personalNotes.notes.index.initializeElements();
        });
    </script>
}