﻿@*Notification templates*@
<span id="notification" class="d-none"></span>
<script id="errorTemplate" type="text/x-kendo-template">
    <div class="error-notification">
        <h3><i class="fas fa-exclamation-triangle"></i>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>

<script id="successTemplate" type="text/x-kendo-template">
    <div class="success-notification">
        <h3><i class="fas fa-check-square"></i>#= title #</h3>
    </div>
</script>