﻿@{
    var titlePage = ViewBag.PageTitle ?? ViewData["Title"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@titlePage</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
        <link href="~/css/themes/kendo.bootstrap-v4.min.css" rel="stylesheet" />
        <link href="~/css/fontawesome/css/fontawesome-all.css" rel="stylesheet" />
        <link rel="stylesheet" asp-href-include="~/css/custom/*.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/css/bundledbootstrap.min.css" />
        <link rel="stylesheet" href="~/css/bundleduiplugins.min.css" />
        <link rel="stylesheet" href="~/css/bundledsite.min.css" asp-append-version="true" />

    </environment>
</head>
<body>
    @await Html.PartialAsync("_NavigationMenu")
    <div class="d-none" id="environment-variables">
        <input type="hidden" id="root-url" value="@string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, Context.Request.PathBase)" />
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            &copy; 2018 - Personal Notes
        </div>
    </footer>
    @await Html.PartialAsync("_BackgroundProcess")
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/kendoui/jszip.min.js"></script>
        <script src="~/lib/kendoui/kendo.all.min.js"></script>
        <script asp-src-include="~/js/core/*.js" asp-append-version="true"></script>
        <script asp-src-include="~/js/views/noteentities/*.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>*@
        <script src="~/js/bundledjquery.min.js"></script>
        <script src="~/js/bundledbootstrap.min.js"></script>
        <script src="~/js/bundledkendo.min.js"></script>
        <script src="~/js/bundledallsite.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
