@using PersonalNotesDAO.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="form-inline mt-2 mt-md-0" asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-outline-warning my-2 my-sm-0">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav mt-2 mt-md-0">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}
