﻿@using Microsoft.AspNetCore.Mvc.Routing
@using PersonalNotesAPI.ViewComponents

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Personal Notes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuNotes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Notes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuNotes">
                    <a class="dropdown-item" asp-area="" asp-controller="NoteEntities" asp-action="Index">List</a>
                    <a class="dropdown-item" asp-area="" asp-controller="NoteEntities" asp-action="Create">Create</a>
                </div>
            </li>

            <li class="nav-item @PersonalNotesAPI.Extensions.UrlHelperExtensions.ActiveRouting(ViewContext,"Home", "Index")">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item @PersonalNotesAPI.Extensions.UrlHelperExtensions.ActiveRouting(ViewContext,"Home", "Contact")">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            </li>
            <li class="nav-item @PersonalNotesAPI.Extensions.UrlHelperExtensions.ActiveRouting(ViewContext,"Home", "About")">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
            </li>
        </ul>
        @* @await Html.PartialAsync("_LoginPartial")*@
        @await Component.InvokeAsync(nameof(CurrentLoginDetails))
    </div>
</nav>