﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger" role="alert">
    <h1>Error.</h1>
    <p>
        An error occurred while processing your request.
    </p>
</div>
